<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>
<p>
  <strong>Blood Group:</strong>
  <%= @user.blood_group %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>
<p>
  <strong>State:</strong>
  <%= @user.state.name %>
</p>
<p>
  <strong>District:</strong>
  <%= @user.district.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city.name %>
</p>
<p>
  <strong>Mobile No:</strong>
  <%= @user.mobile1 %>
</p>
<p>
  <strong>Other Mobile No:</strong>
  <%= @user.mobile2 %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>