<!DOCTYPE html>
<html>
<head>
  <title>BloodDonar</title>
  <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track' => true, debug: false%>
  <%= javascript_include_tag 'vendor', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/index' %>
</body>
</html>
